@page
@model MikrotikWireguardUI.Pages.peers.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Peer[0].Iface)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Peer[0].Server)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Peer[0].RosId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Peer[0].AllowedAddress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Peer[0].Comment)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Peer[0].CurrentEndpointAddress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Peer[0].CurrentEndpointPort)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Peer[0].Disabled)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Peer[0].EndpointAddress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Peer[0].EndpointPort)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Peer[0].Interface)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Peer[0].LastHandshake)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Peer[0].PublicKey)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Peer[0].PrivateKey)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Peer) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Iface.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Server.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RosId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AllowedAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Comment)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CurrentEndpointAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CurrentEndpointPort)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Disabled)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndpointAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndpointPort)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Interface)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastHandshake)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PublicKey)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PrivateKey)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
