@page
@model IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<div class="btn-group">
    <form method="post" asp-page-handler="RefreshPeers">
        <button
            type="submit"
            class="btn btn-secondary">
            Refresh Peers
        </button>
    </form>
    <a
        asp-page="Create"
        class="btn btn-secondary">
        New Peer
    </a>
</div>
<table class="table">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Peer[0].Disabled)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Peer[0].Server)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Peer[0].Interface)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Peer[0].RosId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Peer[0].AllowedAddress)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Peer[0].PublicKey)
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.Peer)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Disabled)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Server.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Interface)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RosId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AllowedAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PublicKey)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
    }
    </tbody>
</table>